$font-size-lg: 3.125rem;
$font-size-md: 1.675rem;
$font-size-sm: 1.125rem;
$font-size: 0.85rem;
$font-size-ultra-small: 0.8rem;
$font-size-title-item: 0.75rem;
$font-size-text-item: 0.7rem;

$border-color : #dddddd90;
$border-color1 : #d0d0d0;

$color-title : #44566c;
$color-text : #67748e;
$color-blue-light: #3ab1e4;
$color-blue-dark : #304cfd;
$color-indigo: #eef2ff;
$color-purple: #6366f1;
$color-purple-light: #8d8ff3;
$color-pink: #d63384;
$color-red: #f56565;
$color-orange: #ff965d;
$color-yellow: #fbd38d;
$color-green: #81e6d9;
$color-teal: #20c997;
$color-cyan: #0dcaf0;
$color-gray: #555;;
$color-gray-ultra-light: rgba(249,250,251);
$color-gray-light : #dddddd;
$color-primary: #cb0c9f;
$color-secondary: #888;
$color-success: #82d616;
$color-info: #17c1e8;
$color-warning: #fbcf33;
$color-danger: #ea0606;
$color-light: #e9ecef;
$color-dark: #344767;
$color-white: #fff;
$color-icon: #3a416f;
$circle : 50%;
$border-radius : 0.3rem;
$border-radius-sm : 0.5rem;
$border-radius-md : 0.7rem;
$border-radius-lg : 3rem;

$padding-container: 7rem 0 ;

$line-height-text: 1.8;